@charset "UTF-8";
/*OPACITY*/
/*TRANSITION*/
/*TRANSFORM*/
/*FLEXBOX*/
/*BORDER RADIUS*/
/*BOX SHADOW*/
/*BOX SIZING*/
/*FILTER*/
/* BREAKPOINT */
/* CUSTOM VARIABLE */
/* BASE VARIABLE */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&amp;display=swap");
/* FONT-FAMILY */
/* FONT SIZE */
main.topPage #problem {
  padding: 100px 0 140px;
}

@media screen and (max-width: 1200px) {
  main.topPage #problem {
    padding: 60px 0 100px;
  }
}

@media screen and (max-width: 950px) {
  main.topPage #problem {
    padding: 60px 0 80px;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #problem {
    padding: 60px 0 60px;
  }
}

@media screen and (max-width: 560px) {
  main.topPage #problem {
    padding: 40px 0 60px;
  }
}

main.topPage #problem .inner {
  max-width: 1048px;
  width: 100%;
  margin: auto;
  position: relative;
}

@media screen and (max-width: 1200px) {
  main.topPage #problem .inner {
    padding: 0 3%;
  }
}

@media screen and (max-width: 560px) {
  main.topPage #problem .inner {
    padding: 0 5%;
  }
}

@media screen and (max-width: 1200px) {
  main.topPage #problem .inner .title-section {
    padding-left: 2%;
  }
}

@media screen and (max-width: 560px) {
  main.topPage #problem .inner .title-section {
    padding-left: 0;
  }
}

main.topPage #problem .inner .problem-img {
  position: absolute;
  right: 0;
  bottom: -37px;
}

@media screen and (max-width: 1200px) {
  main.topPage #problem .inner .problem-img {
    width: 30%;
    right: 5%;
  }
}

@media screen and (max-width: 950px) {
  main.topPage #problem .inner .problem-img {
    width: 40%;
    left: 50%;
    transform: translate(-25%, -30%);
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #problem .inner .problem-img {
    width: 45%;
  }
}

@media screen and (max-width: 560px) {
  main.topPage #problem .inner .problem-img {
    left: 67%;
    margin-top: -20%;
  }
}

main.topPage #problem .inner .problem-img img {
  width: 350px;
}

@media screen and (max-width: 1200px) {
  main.topPage #problem .inner .problem-img img {
    width: 100%;
  }
}

main.topPage #problem .inner .problem-box {
  max-width: 726px;
  width: 100%;
}

@media screen and (max-width: 950px) {
  main.topPage #problem .inner .problem-box {
    max-width: 100%;
  }
}

main.topPage #problem .inner .problem-box .box {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 560px) {
  main.topPage #problem .inner .problem-box .box {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

main.topPage #problem .inner .problem-box .box .chat {
  font-family: "Quicksand", sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

main.topPage #problem .inner .problem-box .box .chat .text {
  position: relative;
}

main.topPage #problem .inner .problem-box .box .chat .text h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  main.topPage #problem .inner .problem-box .box .chat .text h3 {
    font-size: 15px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 400px) {
  main.topPage #problem .inner .problem-box .box .chat .text h3 {
    font-size: 13px;
  }
}

@media screen and (max-width: 350px) {
  main.topPage #problem .inner .problem-box .box .chat .text h3 {
    font-size: 12px;
  }
}

main.topPage #problem .inner .problem-box .box .chat .text p {
  font-size: 15px;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  main.topPage #problem .inner .problem-box .box .chat .text p {
    font-size: 12px;
  }
}

@media screen and (max-width: 560px) {
  main.topPage #problem .inner .problem-box .box .chat .text p {
    font-size: 11px;
  }
}

@media screen and (max-width: 350px) {
  main.topPage #problem .inner .problem-box .box .chat .text p {
    font-size: 9px;
  }
}

main.topPage #problem .inner .problem-box .box .chat.chat1 {
  width: 269px;
  height: 187px;
  position: relative;
  top: 28px;
}

@media screen and (max-width: 767px) {
  main.topPage #problem .inner .problem-box .box .chat.chat1 {
    width: 32%;
    height: 21vw;
  }
}

@media screen and (max-width: 560px) {
  main.topPage #problem .inner .problem-box .box .chat.chat1 {
    width: 45%;
    height: 28vw;
    top: 15px;
  }
}

@media screen and (max-width: 400px) {
  main.topPage #problem .inner .problem-box .box .chat.chat1 {
    width: 47.5%;
    height: 30vw;
  }
}

main.topPage #problem .inner .problem-box .box .chat.chat1 .text {
  left: 35px;
  top: 25px;
}

@media screen and (max-width: 767px) {
  main.topPage #problem .inner .problem-box .box .chat.chat1 .text {
    left: 15%;
    top: 10%;
  }
}

main.topPage #problem .inner .problem-box .box .chat.chat2 {
  width: 243px;
  height: 195px;
}

@media screen and (max-width: 767px) {
  main.topPage #problem .inner .problem-box .box .chat.chat2 {
    width: 35%;
    height: 25vw;
  }
}

@media screen and (max-width: 560px) {
  main.topPage #problem .inner .problem-box .box .chat.chat2 {
    width: 50%;
    height: 36vw;
  }
}

main.topPage #problem .inner .problem-box .box .chat.chat2 .text {
  top: 15px;
  left: 20px;
}

@media screen and (max-width: 767px) {
  main.topPage #problem .inner .problem-box .box .chat.chat2 .text {
    top: 10%;
    left: 10%;
  }
}

@media screen and (max-width: 400px) {
  main.topPage #problem .inner .problem-box .box .chat.chat2 .text {
    top: 10%;
  }
}

main.topPage #problem .inner .problem-box .box .chat.chat3 {
  width: 180px;
  height: 160px;
  position: relative;
  top: 71px;
}

@media screen and (max-width: 767px) {
  main.topPage #problem .inner .problem-box .box .chat.chat3 {
    width: 25%;
    height: 21vw;
    top: 40px;
  }
}

@media screen and (max-width: 560px) {
  main.topPage #problem .inner .problem-box .box .chat.chat3 {
    width: 35%;
    height: 28.5vw;
    top: 20px;
  }
}

main.topPage #problem .inner .problem-box .box .chat.chat3 .br400 {
  display: none;
}

@media screen and (max-width: 400px) {
  main.topPage #problem .inner .problem-box .box .chat.chat3 .br400 {
    display: block;
  }
}

main.topPage #problem .inner .problem-box .box .chat.chat3 .text {
  top: 20px;
  left: 10px;
}

@media screen and (max-width: 767px) {
  main.topPage #problem .inner .problem-box .box .chat.chat3 .text {
    top: 12%;
    left: 7%;
  }
}

@media screen and (max-width: 400px) {
  main.topPage #problem .inner .problem-box .box .chat.chat3 .text {
    top: 7.5%;
  }
}

main.topPage #problem .inner .problem-box .box .chat.chat4 {
  width: 234px;
  height: 223px;
  margin-right: 20px;
}

@media screen and (max-width: 767px) {
  main.topPage #problem .inner .problem-box .box .chat.chat4 {
    width: 35%;
    height: 31.5vw;
  }
}

@media screen and (max-width: 560px) {
  main.topPage #problem .inner .problem-box .box .chat.chat4 {
    margin-right: 0;
    width: 42%;
    height: 36vw;
    position: relative;
    top: 10px;
  }
}

main.topPage #problem .inner .problem-box .box .chat.chat4 .br400 {
  display: none;
}

@media screen and (max-width: 400px) {
  main.topPage #problem .inner .problem-box .box .chat.chat4 .br400 {
    display: block;
  }
}

main.topPage #problem .inner .problem-box .box .chat.chat4 .text {
  top: 25px;
  left: 43px;
}

@media screen and (max-width: 1200px) {
  main.topPage #problem .inner .problem-box .box .chat.chat4 .text {
    top: 30px;
    left: 40px;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #problem .inner .problem-box .box .chat.chat4 .text {
    top: 15%;
    left: 17%;
  }
}

@media screen and (max-width: 560px) {
  main.topPage #problem .inner .problem-box .box .chat.chat4 .text {
    top: 12%;
  }
}

@media screen and (max-width: 400px) {
  main.topPage #problem .inner .problem-box .box .chat.chat4 .text {
    top: 10%;
  }
  main.topPage #problem .inner .problem-box .box .chat.chat4 .text .non400 {
    display: none;
  }
}

main.topPage #problem .inner .problem-box .box .chat.chat5 {
  width: 238px;
  height: 160px;
  position: relative;
  top: 4px;
}

@media screen and (max-width: 767px) {
  main.topPage #problem .inner .problem-box .box .chat.chat5 {
    width: 35%;
    height: 25vw;
  }
}

@media screen and (max-width: 560px) {
  main.topPage #problem .inner .problem-box .box .chat.chat5 {
    top: 0;
    width: 45%;
    height: 28vw;
    right: 25%;
  }
}

@media screen and (max-width: 400px) {
  main.topPage #problem .inner .problem-box .box .chat.chat5 {
    width: 47.5%;
    height: 30vw;
  }
}

main.topPage #problem .inner .problem-box .box .chat.chat5 .text {
  top: 10px;
  left: 15px;
}

@media screen and (max-width: 767px) {
  main.topPage #problem .inner .problem-box .box .chat.chat5 .text {
    top: 12%;
    left: 12%;
  }
}

@media screen and (max-width: 560px) {
  main.topPage #problem .inner .problem-box .box .chat.chat5 .text {
    left: 8%;
    top: 10%;
  }
}

@media screen and (max-width: 400px) {
  main.topPage #problem .inner .problem-box .box .chat.chat5 .text {
    left: 7.5%;
  }
}

main.topPage #problem .inner .problem-box .box .chat.SP {
  display: none;
}

@media screen and (max-width: 560px) {
  main.topPage #problem .inner .problem-box .box .chat.SP {
    display: block;
  }
}

main.topPage #problem .inner .problem-box .box.bottom {
  margin-top: 16px;
  justify-content: center;
}

@media screen and (max-width: 560px) {
  main.topPage #problem .inner .problem-box .box.bottom {
    display: none;
  }
}

main.topPage #program {
  background-color: #FFF2F2;
  padding: 60px 0 80px;
}

@media screen and (max-width: 1200px) {
  main.topPage #program {
    padding: 60px 0 80px;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #program {
    padding: 60px 0;
  }
}

@media screen and (max-width: 560px) {
  main.topPage #program {
    padding: 40px 0 60px;
  }
}

main.topPage #program .title-section {
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  main.topPage #program .title-section {
    margin-bottom: 20px;
  }
}

main.topPage #program .title-section a {
  text-decoration: underline;
}

main.topPage #program h4 {
  margin: 10px 0 30px;
  font-size: 20px;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  main.topPage #program h4 {
    margin-bottom: 20px;
    font-size: 15px;
  }
  main.topPage #program h4 br {
    display: none;
  }
}

main.topPage #program h4 a {
  color: #933132;
  text-decoration: underline;
  font-weight: bold;
}

main.topPage #program .inner {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0;
}

@media screen and (max-width: 1200px) {
  main.topPage #program .inner {
    padding: 0;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #program .inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

main.topPage #program .inner .item {
  background-color: #FFF;
  width: 303px;
  display: block;
  position: relative;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  transition: all 0.3s ease;
}

main.topPage #program .inner .item:hover {
  box-shadow: 0 0 8px rgba(33, 33, 33, 0.1);
}

@media screen and (max-width: 950px) {
  main.topPage #program .inner .item {
    width: 47.5%;
    margin-bottom: 5%;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #program .inner .item {
    width: 303px;
    margin-bottom: 7.5%;
  }
  main.topPage #program .inner .item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 350px) {
  main.topPage #program .inner .item {
    width: 100%;
  }
}

main.topPage #program .inner .item .link {
  display: block;
  padding: 24px 24px 64px;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
}

@media screen and (max-width: 1200px) {
  main.topPage #program .inner .item .link {
    padding: 20px;
    padding-bottom: 64px;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #program .inner .item .link {
    padding: 24px;
    padding-bottom: 30px;
  }
}

main.topPage #program .inner .item .icon {
  margin-bottom: 30px;
}

main.topPage #program .inner .item .icon img {
  height: 120px;
}

@media screen and (max-width: 1200px) {
  main.topPage #program .inner .item .icon img {
    height: 100px;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #program .inner .item .icon img {
    height: 100px;
  }
}

main.topPage #program .inner .item h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  main.topPage #program .inner .item h3 {
    font-size: 24px;
  }
  main.topPage #program .inner .item h3 br {
    display: none;
  }
}

main.topPage #program .inner .item .price {
  font-size: 18px;
  color: #D2002D;
  margin-bottom: 18px;
}

@media screen and (max-width: 767px) {
  main.topPage #program .inner .item .price {
    font-size: 17px;
  }
  main.topPage #program .inner .item .price span {
    display: none;
  }
}

@media screen and (max-width: 350px) {
  main.topPage #program .inner .item .price {
    font-size: 16px;
  }
}

main.topPage #program .inner .item .desc {
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
}

@media screen and (max-width: 950px) {
  main.topPage #program .inner .item .desc br {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #program .inner .item .desc {
    font-size: 14px;
  }
}

main.topPage #program .inner .item .more {
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  display: block;
  margin-top: 10px;
  position: absolute;
  bottom: 30px;
  left: 24px;
}

@media screen and (max-width: 767px) {
  main.topPage #program .inner .item .more {
    position: relative;
    bottom: auto;
    left: auto;
  }
}

main.topPage #program .inner .item .free {
  position: absolute;
  top: -36px;
  right: -31px;
  width: 110px;
}

@media screen and (max-width: 950px) {
  main.topPage #program .inner .item .free {
    width: 40%;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #program .inner .item .free {
    top: -25px;
    right: -30px;
    width: 90px;
  }
}

@media screen and (max-width: 350px) {
  main.topPage #program .inner .item .free {
    width: 75px;
    top: -10px;
    right: -15px;
  }
}

main.topPage #program .inner .item .btn-register-wa,
main.topPage #program .inner .item .btn-learning {
  position: absolute;
  bottom: 28px;
  z-index: 1;
  left: 28px;
}

@media screen and (max-width: 1200px) {
  main.topPage #program .inner .item .btn-register-wa,
  main.topPage #program .inner .item .btn-learning {
    left: 20px;
    bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #program .inner .item .btn-register-wa,
  main.topPage #program .inner .item .btn-learning {
    bottom: 28px;
    left: 28px;
  }
}

main.topPage #program .n3 {
  text-align: center;
}

main.topPage #program .n3 h4 {
  font-weight: bold;
  font-size: 24px;
  color: #933132;
}

main.topPage #why-us {
  padding: 76px 0 122px;
}

@media screen and (max-width: 1200px) {
  main.topPage #why-us {
    padding: 60px 0 80px;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #why-us {
    padding: 60px 0 60px;
  }
}

@media screen and (max-width: 560px) {
  main.topPage #why-us {
    padding: 40px 0 60px;
  }
}

main.topPage #why-us .title-section {
  margin-bottom: 94px;
}

@media screen and (max-width: 1200px) {
  main.topPage #why-us .title-section {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 560px) {
  main.topPage #why-us .title-section {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 350px) {
  main.topPage #why-us .title-section {
    margin-bottom: 30px;
  }
}

main.topPage #why-us .inner {
  max-width: 921px;
  width: 100%;
  margin: auto;
}

main.topPage #why-us .inner .box {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  main.topPage #why-us .inner .box {
    flex-wrap: wrap;
  }
}

main.topPage #why-us .inner .box .item {
  width: 235px;
  margin-bottom: 17px;
}

@media screen and (max-width: 950px) {
  main.topPage #why-us .inner .box .item {
    width: 30%;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #why-us .inner .box .item {
    width: 47.5%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 480px) {
  main.topPage #why-us .inner .box .item {
    width: 49%;
  }
}

@media screen and (max-width: 560px) {
  main.topPage #why-us .inner .box .item {
    margin-bottom: 20px;
  }
}

main.topPage #why-us .inner .box .item .img {
  height: 93px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 15px;
}

@media screen and (max-width: 950px) {
  main.topPage #why-us .inner .box .item .img {
    height: 75px;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #why-us .inner .box .item .img {
    height: 60px;
  }
  main.topPage #why-us .inner .box .item .img img {
    height: 100%;
  }
}

@media screen and (max-width: 350px) {
  main.topPage #why-us .inner .box .item .img {
    height: 50px;
  }
}

main.topPage #why-us .inner .box .item h3 {
  font-size: 20px;
  margin-bottom: 11px;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 950px) {
  main.topPage #why-us .inner .box .item h3 {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #why-us .inner .box .item h3 {
    font-size: 16px;
  }
}

@media screen and (max-width: 350px) {
  main.topPage #why-us .inner .box .item h3 {
    font-size: 15px;
  }
}

main.topPage #why-us .inner .box .item p {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}

@media screen and (max-width: 950px) {
  main.topPage #why-us .inner .box .item p {
    font-size: 15px;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #why-us .inner .box .item p {
    font-size: 14px;
  }
}

@media screen and (max-width: 350px) {
  main.topPage #why-us .inner .box .item p {
    font-size: 11px;
  }
}

main.topPage #why-us .inner .box .item.SP {
  display: none;
}

@media screen and (max-width: 767px) {
  main.topPage #why-us .inner .box .item.SP {
    display: block;
  }
}

main.topPage #why-us .inner .box .item.item2 {
  width: 300px;
}

@media screen and (max-width: 950px) {
  main.topPage #why-us .inner .box .item.item2 {
    width: 35%;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #why-us .inner .box .item.item2 {
    width: 47.5%;
  }
}

@media screen and (max-width: 480px) {
  main.topPage #why-us .inner .box .item.item2 {
    width: 49%;
  }
}

main.topPage #why-us .inner .box .item.item4 {
  width: 320px;
}

@media screen and (max-width: 950px) {
  main.topPage #why-us .inner .box .item.item4 {
    width: 35%;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #why-us .inner .box .item.item4 {
    width: 47.5%;
  }
}

@media screen and (max-width: 480px) {
  main.topPage #why-us .inner .box .item.item4 {
    width: 49%;
  }
}

main.topPage #why-us .inner .box .item.item5 {
  width: 320px;
}

@media screen and (max-width: 950px) {
  main.topPage #why-us .inner .box .item.item5 {
    width: 35%;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #why-us .inner .box .item.item5 {
    width: 65%;
  }
}

main.topPage #why-us .inner .box.bottom {
  justify-content: space-around;
}

@media screen and (max-width: 767px) {
  main.topPage #why-us .inner .box.bottom {
    justify-content: center;
  }
  main.topPage #why-us .inner .box.bottom .PC {
    display: none;
  }
}

main.topPage .team {
  background-color: #FFFFFF;
  padding: 60px 0 80px;
  overflow: hidden;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  main.topPage .team {
    padding: 40px 0 30px;
  }
}

main.topPage .team .title-section {
  margin-bottom: 60px;
}

@media screen and (max-width: 950px) {
  main.topPage .team .title-section {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  main.topPage .team .title-section {
    margin-bottom: 30px;
  }
}

main.topPage .team .inner {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 950px) {
  main.topPage .team .inner {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 950px) {
  main.topPage .team .inner .item {
    width: 47.5%;
    margin-bottom: 20px;
  }
}

main.topPage .team .inner .item .img {
  text-align: center;
  margin-bottom: 20px;
}

main.topPage .team .inner .item .img img {
  width: 150px;
}

@media screen and (max-width: 767px) {
  main.topPage .team .inner .item .img img {
    width: 120px;
  }
}

main.topPage .team .inner .item .name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  main.topPage .team .inner .item .name {
    font-size: 16px;
  }
}

main.topPage .team .inner .item ul {
  position: relative;
  padding-left: 20px;
}

main.topPage .team .inner .item ul li {
  position: relative;
}

@media screen and (max-width: 767px) {
  main.topPage .team .inner .item ul li {
    font-size: 14px;
  }
}

main.topPage .team .inner .item ul li:before {
  content: "";
  position: absolute;
  height: 6px;
  width: 6px;
  background-color: #c85f5b;
  border-radius: 50%;
  left: -15px;
  top: 10px;
}

main.topPage #products {
  background-color: #FFF2F2;
  padding: 60px 0;
}

@media screen and (max-width: 767px) {
  main.topPage #products {
    padding: 30px 0;
  }
}

main.topPage #products .title-section {
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
  main.topPage #products .title-section {
    margin-bottom: 30px;
  }
}

main.topPage #products .inner .list {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  main.topPage #products .inner .list {
    flex-wrap: wrap;
  }
}

main.topPage #products .inner .list .item {
  width: 45%;
}

@media screen and (max-width: 900px) {
  main.topPage #products .inner .list .item {
    width: 47.5%;
  }
}

main.topPage #products .inner .list .item .more {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

main.topPage #products .inner .list .item .more a {
  font-weight: normal;
  font-size: 16px;
  transition: all 0.3s ease;
  width: 150px;
  height: 45px;
  color: #FFF;
  background-color: #D2002D;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

@media screen and (max-width: 767px) {
  main.topPage #products .inner .list .item .more a {
    font-size: 14px;
    width: 140px;
    height: 38px;
  }
}

main.topPage #news {
  background-color: #FFFFFF;
  padding: 60px 0 73px;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 1200px) {
  main.topPage #news {
    padding: 60px 0 80px;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #news {
    padding: 40px 0 60px;
  }
}

main.topPage #news:before {
  content: "";
  position: absolute;
  width: 650px;
  height: 734px;
  top: 0;
  left: -154px;
  background-image: url(../../img/news-shinbun.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1200px) {
  main.topPage #news:before {
    width: 500px;
    height: 564px;
    top: auto;
    bottom: -100px;
    left: -115px;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #news:before {
    display: none;
  }
}

main.topPage #news:after {
  content: "";
  position: absolute;
  width: 615px;
  height: 680px;
  top: 22.5px;
  right: -200px;
  background-image: url(../../img/shinbun_newspaper.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1200px) {
  main.topPage #news:after {
    width: 500px;
    height: 553px;
    top: auto;
    bottom: -100px;
    right: -115px;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #news:after {
    display: none;
  }
}

main.topPage #news .title-news {
  position: relative;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  main.topPage #news .title-news {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 350px) {
  main.topPage #news .title-news {
    margin-bottom: 30px;
  }
}

main.topPage #news .title-news ruby {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
}

main.topPage #news .title-news ruby rt {
  font-size: 30%;
  text-align: center;
  font-weight: normal;
}

main.topPage #news .title-news p {
  margin-left: 15px;
  font-size: 125%;
  line-height: 1.25;
}

main.topPage #news .inner {
  width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  main.topPage #news .inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

main.topPage #news .inner .blog-list {
  width: 303px;
  border-radius: 9px;
}

@media screen and (max-width: 1200px) {
  main.topPage #news .inner .blog-list {
    width: 31.3%;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #news .inner .blog-list {
    width: 303px;
  }
}

@media screen and (max-width: 350px) {
  main.topPage #news .inner .blog-list {
    width: 100%;
  }
}

main.topPage #news .inner .blog-list a {
  display: block;
  padding: 24px;
  transition: all 0.3s ease;
  border: 1px solid #EEE;
  border-radius: 9px;
}

@media screen and (max-width: 1200px) {
  main.topPage #news .inner .blog-list a {
    padding: 20px;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #news .inner .blog-list a {
    padding: 24px;
    margin-bottom: 7.5%;
  }
}

main.topPage #news .inner .blog-list a .img {
  width: 100%;
  height: 160px;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
}

main.topPage #news .inner .blog-list a .img div {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: all 0.3s ease;
  transform: scale(1);
}

main.topPage #news .inner .blog-list a .blog-text strong {
  display: none !important;
  visibility: hidden !important;
}

main.topPage #news .inner .blog-list a .blog-text .blog-text-top span {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #808080;
}

main.topPage #news .inner .blog-list a .blog-text .blog-text-top .blog-title {
  font-weight: bold;
  font-size: 18px;
  overflow: hidden;
  height: 45px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

main.topPage #news .inner .blog-list a .blog-text p {
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
}

main.topPage #news .inner .blog-list a .blog-text p:has(br) {
  display: none;
}

main.topPage #news .inner .blog-list a:hover {
  box-shadow: 0 0 8px rgba(33, 33, 33, 0.1);
}

main.topPage #news .inner .blog-list a:hover .img div {
  transform: scale(1.05);
}

main.topPage #news .inner .big-news {
  width: 556px;
}

@media screen and (max-width: 950px) {
  main.topPage #news .inner .big-news {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 560px) {
  main.topPage #news .inner .big-news {
    margin-bottom: 20px;
  }
}

main.topPage #news .inner .big-news a {
  width: 100%;
  height: 335px;
  position: relative;
  border-radius: 9px;
  display: block;
  background-color: #FFF;
}

@media screen and (max-width: 950px) {
  main.topPage #news .inner .big-news a {
    height: 50vw;
  }
}

main.topPage #news .inner .big-news a .img {
  width: 100%;
  height: 100%;
  border-radius: 9px;
  overflow: hidden;
}

main.topPage #news .inner .big-news a .img div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 9px;
  position: relative;
  transition: all 0.3s ease;
  transform: scale(1);
}

main.topPage #news .inner .big-news a .text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 17px 30px;
  color: #FFF;
  display: flex;
  flex-direction: column-reverse;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #333333 80%);
}

@media screen and (max-width: 560px) {
  main.topPage #news .inner .big-news a .text {
    padding: 15px;
  }
}

main.topPage #news .inner .big-news a .text h3 {
  font-size: 19px;
  font-weight: bold;
  line-height: 1.3;
}

@media screen and (max-width: 560px) {
  main.topPage #news .inner .big-news a .text h3 {
    font-size: 16px;
  }
}

@media screen and (max-width: 350px) {
  main.topPage #news .inner .big-news a .text h3 {
    font-size: 14px;
  }
}

main.topPage #news .inner .big-news a .text p {
  margin-bottom: 15px;
  font-size: 12px;
}

@media screen and (max-width: 560px) {
  main.topPage #news .inner .big-news a .text p {
    font-size: 11px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 350px) {
  main.topPage #news .inner .big-news a .text p {
    font-size: 10px;
  }
}

main.topPage #news .inner .big-news a:hover .img div {
  transform: scale(1.05);
}

main.topPage #news .inner .little-news {
  width: 220px;
}

@media screen and (max-width: 950px) {
  main.topPage #news .inner .little-news {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #news .inner .little-news {
    flex-direction: column;
  }
}

main.topPage #news .inner .little-news a {
  width: 100%;
  height: 156px;
  margin-bottom: 23px;
  display: block;
  border-radius: 9px;
  position: relative;
}

@media screen and (max-width: 950px) {
  main.topPage #news .inner .little-news a {
    width: 47.5%;
    height: 200px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #news .inner .little-news a {
    width: 100%;
    height: 50vw;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 560px) {
  main.topPage #news .inner .little-news a {
    margin-bottom: 20px;
  }
}

main.topPage #news .inner .little-news a:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  main.topPage #news .inner .little-news a:last-child {
    margin-bottom: 0;
  }
}

main.topPage #news .inner .little-news a .img {
  width: 100%;
  height: 100%;
  border-radius: 9px;
  overflow: hidden;
}

main.topPage #news .inner .little-news a .img div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 9px;
  position: relative;
  transition: all 0.3s ease;
  transform: scale(1);
}

main.topPage #news .inner .little-news a .text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 16px 16px;
  color: #FFF;
  display: flex;
  flex-direction: column-reverse;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #333333 80%);
}

@media screen and (max-width: 767px) {
  main.topPage #news .inner .little-news a .text {
    padding: 17px 30px;
  }
}

@media screen and (max-width: 560px) {
  main.topPage #news .inner .little-news a .text {
    padding: 15px;
  }
}

main.topPage #news .inner .little-news a .text h3 {
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  line-height: 1.3;
}

@media screen and (max-width: 767px) {
  main.topPage #news .inner .little-news a .text h3 {
    font-size: 19px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 560px) {
  main.topPage #news .inner .little-news a .text h3 {
    font-size: 16px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 350px) {
  main.topPage #news .inner .little-news a .text h3 {
    font-size: 14px;
  }
}

main.topPage #news .inner .little-news a .text p {
  font-size: 10px;
}

@media screen and (max-width: 767px) {
  main.topPage #news .inner .little-news a .text p {
    font-size: 12px;
  }
}

@media screen and (max-width: 560px) {
  main.topPage #news .inner .little-news a .text p {
    font-size: 11px;
  }
}

@media screen and (max-width: 350px) {
  main.topPage #news .inner .little-news a .text p {
    font-size: 10px;
  }
}

main.topPage #news .inner .little-news a:hover .img div {
  transform: scale(1.05);
}

main.topPage #news .inner .little-news > *:nth-child(2) {
  display: none;
}

main.topPage #sns {
  padding: 125px 0 0;
  overflow: hidden;
  width: 100%;
  background-color: #FFFFFF;
}

@media screen and (max-width: 1200px) {
  main.topPage #sns {
    padding: 60px 0 0;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #sns {
    padding: 40px 0 0;
  }
}

main.topPage #sns .inner h2 {
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}

@media screen and (max-width: 1200px) {
  main.topPage #sns .inner h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #sns .inner h2 {
    justify-content: center;
  }
}

@media screen and (max-width: 560px) {
  main.topPage #sns .inner h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 350px) {
  main.topPage #sns .inner h2 {
    font-size: 17px;
  }
}

main.topPage #sns .inner .content {
  position: relative;
}

main.topPage #sns .inner .content .red {
  width: 588px;
  padding: 63px 50px;
  background-color: #ECB4B5;
  border-radius: 9px;
  z-index: 1;
  position: relative;
}

@media screen and (max-width: 1200px) {
  main.topPage #sns .inner .content .red {
    width: 60%;
    padding: 40px;
  }
}

@media screen and (max-width: 950px) {
  main.topPage #sns .inner .content .red {
    padding: 30px;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #sns .inner .content .red {
    width: 85%;
    padding: 20px;
  }
}

@media screen and (max-width: 560px) {
  main.topPage #sns .inner .content .red {
    padding: 15px;
  }
}

main.topPage #sns .inner .content .grey {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 102px;
  background-color: #F5F5F5;
  width: 556px;
  padding: 43px 0 74px;
  padding-left: 220px;
  padding-right: 60px;
  border-radius: 9px;
}

@media screen and (max-width: 1200px) {
  main.topPage #sns .inner .content .grey {
    width: 50%;
    padding: 5% 0;
    padding-right: 3%;
    padding-left: 12%;
  }
}

@media screen and (max-width: 950px) {
  main.topPage #sns .inner .content .grey {
    padding-left: 11%;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #sns .inner .content .grey {
    position: relative;
    margin-top: 0;
    width: 100%;
    padding: 15% 5% 10%;
    margin-top: -10%;
  }
}

main.topPage #sns .inner .content .grey h3 {
  color: #933132;
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 50px;
}

@media screen and (max-width: 950px) {
  main.topPage #sns .inner .content .grey h3 {
    font-size: 32px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #sns .inner .content .grey h3 {
    font-size: 28px;
    text-align: right;
  }
}

@media screen and (max-width: 560px) {
  main.topPage #sns .inner .content .grey h3 {
    font-size: 22px;
  }
}

@media screen and (max-width: 350px) {
  main.topPage #sns .inner .content .grey h3 {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #sns .inner .content .grey div {
    display: flex;
    justify-content: flex-end;
  }
}

main.topPage #sns .inner .content .grey div a {
  width: 150px;
  height: 45px;
  color: #FFF;
  font-size: 16px;
  background-color: #D2002D;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

main.topPage #sns .inner .content .grey div a svg {
  margin-right: 5px;
  width: 20px;
  height: 14px;
}

@media screen and (max-width: 767px) {
  main.topPage #sns .inner .content .grey div a {
    width: 125px;
    height: 38px;
    font-size: 14px;
  }
  main.topPage #sns .inner .content .grey div a svg {
    width: 18px;
    height: 13px;
  }
}

main.topPage #sns .inner .content.reverse .red {
  margin-left: auto;
}

main.topPage #sns .inner .content.reverse .grey {
  right: auto;
  left: 0;
  padding: 83px 0 88px;
  padding-left: 52px;
  padding-right: 200px;
}

@media screen and (max-width: 1200px) {
  main.topPage #sns .inner .content.reverse .grey {
    padding: 5% 0;
    padding-right: 12%;
    padding-left: 3%;
  }
}

@media screen and (max-width: 950px) {
  main.topPage #sns .inner .content.reverse .grey {
    padding-right: 11%;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #sns .inner .content.reverse .grey {
    padding: 15% 5% 10%;
    margin-top: -10%;
  }
  main.topPage #sns .inner .content.reverse .grey h3 {
    text-align: left;
  }
  main.topPage #sns .inner .content.reverse .grey div {
    justify-content: flex-start;
  }
}

main.topPage #sns .youtube {
  padding-bottom: 200px;
  position: relative;
}

@media screen and (max-width: 950px) {
  main.topPage #sns .youtube {
    padding-bottom: 150px;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #sns .youtube {
    padding-bottom: 60px;
  }
}

main.topPage #sns .youtube .ornament {
  position: absolute;
  left: -13%;
  bottom: -10%;
}

@media screen and (max-width: 1200px) {
  main.topPage #sns .youtube .ornament {
    left: -20%;
    bottom: -5%;
    width: 50%;
  }
}

@media screen and (max-width: 950px) {
  main.topPage #sns .youtube .ornament {
    bottom: -10%;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #sns .youtube .ornament {
    bottom: -15%;
  }
}

@media screen and (max-width: 560px) {
  main.topPage #sns .youtube .ornament {
    bottom: -5%;
  }
}

@media screen and (max-width: 350px) {
  main.topPage #sns .youtube .ornament {
    bottom: -5%;
  }
}

main.topPage #sns .youtube .inner h2 {
  color: #933132;
}

main.topPage #sns .youtube .inner h2 img {
  width: 54px;
  margin-right: 23px;
}

@media screen and (max-width: 950px) {
  main.topPage #sns .youtube .inner h2 img {
    width: 50px;
    margin-right: 15px;
  }
}

@media screen and (max-width: 350px) {
  main.topPage #sns .youtube .inner h2 img {
    width: 40px;
  }
}

main.topPage #sns .youtube .inner .content .red .views {
  width: 100%;
  height: 271px;
}

@media screen and (max-width: 950px) {
  main.topPage #sns .youtube .inner .content .red .views {
    height: 27.5vw;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #sns .youtube .inner .content .red .views {
    height: 40vw;
  }
}

main.topPage #sns .youtube .inner .content .red .views iframe {
  width: 100%;
  height: 100%;
}

main.topPage #sns .instagram {
  margin-bottom: 200px;
  position: relative;
}

@media screen and (max-width: 950px) {
  main.topPage #sns .instagram {
    margin-bottom: 150px;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #sns .instagram {
    margin-bottom: 0;
    padding-bottom: 60px;
  }
}

main.topPage #sns .instagram .ornament {
  position: absolute;
  right: -7.5%;
  bottom: -60%;
}

@media screen and (max-width: 1200px) {
  main.topPage #sns .instagram .ornament {
    right: -10%;
    bottom: -50%;
    width: 50%;
  }
}

@media screen and (max-width: 950px) {
  main.topPage #sns .instagram .ornament {
    bottom: -50%;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #sns .instagram .ornament {
    bottom: -15%;
  }
}

@media screen and (max-width: 560px) {
  main.topPage #sns .instagram .ornament {
    bottom: -5%;
  }
}

@media screen and (max-width: 350px) {
  main.topPage #sns .instagram .ornament {
    bottom: -5%;
  }
}

main.topPage #sns .instagram .inner h2 {
  justify-content: flex-end;
  color: #BA1A7D;
}

@media screen and (max-width: 767px) {
  main.topPage #sns .instagram .inner h2 {
    justify-content: center;
  }
}

main.topPage #sns .instagram .inner h2 img {
  width: 38px;
  margin-right: 13px;
}

@media screen and (max-width: 950px) {
  main.topPage #sns .instagram .inner h2 img {
    width: 30px;
  }
}

main.topPage #sns .instagram .inner .content .red {
  padding: 50px 63px;
}

@media screen and (max-width: 1200px) {
  main.topPage #sns .instagram .inner .content .red {
    padding: 40px;
  }
}

@media screen and (max-width: 950px) {
  main.topPage #sns .instagram .inner .content .red {
    padding: 30px;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #sns .instagram .inner .content .red {
    padding: 20px;
  }
}

@media screen and (max-width: 560px) {
  main.topPage #sns .instagram .inner .content .red {
    padding: 15px;
  }
}

main.topPage #sns .instagram .inner .content .red .views {
  width: 100%;
  height: auto;
  display: flex;
}

main.topPage #sns .instagram .inner .content .red .views iframe {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 950px) {
  main.topPage #sns .instagram .inner .content .grey br {
    display: none;
  }
}

main.topPage #sns .instagram .inner .content .grey div a {
  background-color: #0098F7;
}

main.topPage #sns .tiktok {
  margin-bottom: 285px;
  position: relative;
}

@media screen and (max-width: 1200px) {
  main.topPage #sns .tiktok {
    margin-bottom: 250px;
  }
}

@media screen and (max-width: 950px) {
  main.topPage #sns .tiktok {
    margin-bottom: 175px;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #sns .tiktok {
    margin-bottom: 0;
    padding-bottom: 75px;
  }
}

main.topPage #sns .tiktok .ornament {
  position: absolute;
  left: -16%;
  bottom: -70%;
}

@media screen and (max-width: 1200px) {
  main.topPage #sns .tiktok .ornament {
    left: -18%;
    bottom: -60%;
    width: 50%;
  }
}

@media screen and (max-width: 950px) {
  main.topPage #sns .tiktok .ornament {
    bottom: -50%;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #sns .tiktok .ornament {
    bottom: -15%;
  }
}

main.topPage #sns .tiktok .inner h2 {
  color: #000000;
}

main.topPage #sns .tiktok .inner h2 img {
  width: 32px;
  margin-right: 13px;
}

@media screen and (max-width: 950px) {
  main.topPage #sns .tiktok .inner h2 img {
    width: 30px;
  }
}

main.topPage #sns .tiktok .inner .content .red .views {
  width: 100%;
  height: 271px;
}

@media screen and (max-width: 950px) {
  main.topPage #sns .tiktok .inner .content .red .views {
    height: 27.5vw;
  }
}

@media screen and (max-width: 767px) {
  main.topPage #sns .tiktok .inner .content .red .views {
    height: 40vw;
  }
}

main.topPage #sns .tiktok .inner .content .red .views iframe {
  width: 100%;
  height: 100%;
}

main.topPage #sns .tiktok .inner .content .grey div a {
  background-color: #FF004A;
}

main.topPage #sns .faq .title-section {
  margin-bottom: 37px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  main.topPage #sns .faq .title-section {
    margin-bottom: 30px;
  }
}

main.topPage #sns .faq .content {
  max-width: 720px;
  width: 100%;
  margin: auto;
}

main.topPage #sns .faq .content .listFaq .help-wrapper {
  background-color: #F5F5F5;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 24px;
  margin-bottom: 6px;
  border-radius: 9px;
}

@media screen and (max-width: 560px) {
  main.topPage #sns .faq .content .listFaq .help-wrapper {
    padding: 0 15px;
  }
}

main.topPage #sns .faq .content .listFaq .help-wrapper:last-child {
  margin-bottom: 0;
}

main.topPage #sns .faq .content .listFaq .help-wrapper ._q {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  cursor: pointer;
  font-weight: normal;
  padding: 10px 0;
  font-size: 18px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 767px) {
  main.topPage #sns .faq .content .listFaq .help-wrapper ._q {
    font-size: 16px;
  }
}

main.topPage #sns .faq .content .listFaq .help-wrapper ._q span {
  padding-right: 10px;
  transition: all .2s ease-in-out;
}

main.topPage #sns .faq .content .listFaq .help-wrapper ._q i {
  color: #D2002D;
  font-size: 24px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-left: 30px;
}

main.topPage #sns .faq .content .listFaq .help-wrapper ._q:hover span {
  color: #933132;
}

main.topPage #sns .faq .content .listFaq .help-wrapper ._a {
  background-color: transparent;
  border-radius: 9px;
  padding: 15px;
  padding-top: 10px;
  display: none;
  font-size: 16px;
  border-radius: 0;
  border-top: 1px solid;
}

@media screen and (max-width: 767px) {
  main.topPage #sns .faq .content .listFaq .help-wrapper ._a {
    font-size: 14px;
  }
}

main.topPage #sns .faq .content .listFaq .help-wrapper ._a ._underln {
  text-decoration: underline;
}

main.topPage #sns .faq .content .listFaq .help-wrapper ._a a {
  color: #c85f5b;
}

main.topPage #sns .faq .content .listFaq .help-wrapper ._a p:not(:last-child) {
  margin-bottom: 16px;
}

main.topPage #sns .faq .content .listFaq .help-wrapper ._a ul li {
  position: relative;
  margin-bottom: 5px;
}

main.topPage #sns .faq .content .listFaq .help-wrapper ._a ul li:last-child {
  margin-bottom: 0;
}

main.topPage #sns .faq .content .listFaq .help-wrapper ._a ul li:before {
  content: "";
  width: 7px;
  height: 7px;
  background: #933132;
  border-radius: 50%;
  margin-left: -15px;
  margin-top: 10px;
  position: absolute;
}

main.topPage #sns .faq .content .listFaq .help-wrapper._open {
  padding-bottom: 15px;
}

main.topPage #sns .faq .content .listFaq .help-wrapper._open ._q i {
  transform: rotate(0);
  color: #c85f5b;
}

main.topPage #sns .faq .content .listFaq .help-wrapper._open ._q span {
  color: #933132;
}

main.topPage #sns .faq .content .listFaq .help-wrapper._open ._a {
  display: block;
}

@media screen and (min-width: 576px) {
  .modal-dialog {
    max-width: 600px;
  }
}

.modal-dialog .modal-content {
  border-radius: 15px;
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  .modal-dialog .modal-content {
    border-radius: 5px;
    padding: 0 5%;
  }
}

.bannerPromo {
  transition: all 0.3s ease;
  transform: scale(1);
}

.bannerPromo:hover {
  transform: scale(1.05);
}

.bannerPromo img {
  border-radius: 15px;
}

@media screen and (max-width: 767px) {
  .bannerPromo img {
    border-radius: 5px;
  }
}

/*# sourceMappingURL=top.css.map */